.button {
    background-color: $dark-blue;
    border-radius: 4px;
    font-weight:300;
    padding: 10px 20px;
    border: none;
    color: white;
    font-size: $button-text-size;
    display: inline-block;
    text-decoration: none;
    line-height: 1;
}

.button--header-link {
    background-color: transparent;
}

.button--secondary {
    background-color: #888888;
}
